<div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-black">
    <a class="navbar-brand" routerLink="github">
      <h1>GIT HUB SEARCH</h1>
    </a><br><br><br>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active bg-info" routerLink="github" routerLinkActive='active'>Github<span
            class="sr-only">(current)</span></a>
        <a class="nav-item nav-link bg-light" routerLink="/repos" routerLinkActive='active'>Repositories</a>
      </div>
    </div>
  </nav>
</div>